<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="img/icon.gif">
  
<title>My Website</title>
  
<!-- Google font -->	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet"> 
  
<!-- Import css -->	
<link rel="stylesheet" href="css/style.css">
  
<!--Font icon-->	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  
<script src="https://kit.fontawesome.com/89e9a98e7e.js" crossorigin="anonymous"></script>
  
</head>

<body id="bg1">

<!-- Navigation bar -->	
  <nav>
    <ul>
      <li><a href="index.html"><i class="fa-solid fa-igloo"></i>Home</a></li>
	    <li><a href="text.html"><i class="fa-solid fa-font"></i>Text</a></li>
      <li><a class = "active" href="color.html"><i class="fa-solid fa-palette"></i>Color</a></li>
      <li><a href="list.html"><i class="fa-solid fa-list"></i>List</a></li>
      <li><a href="image.html"><i class="fa-solid fa-images"></i>Image</a></li>
      <li><a href="link.html"><i class="fa-solid fa-link"></i>Link</a></li>
      <li><a href="table.html"><i class="fa-solid fa-table-list"></i>Table</a></li>
      <li><a href="css.html"><i class="fa-brands fa-css3"></i>CSS</a></li>
      <li><a href="div.html"><i class="fa-solid fa-table"></i>Div</a></li>
      <li><a href="form.html"><i class="fa-solid fa-file-lines"></i>Form</a></li>
    </ul>
  </nav>
  
<!-- Header -->	
  <header id="header1">
    <h1>HTML Colors</h1>
  </header>
  
<!-- Content -->	
  <section>
    
    <div>
    <a class="head">HTML Colors</a>	
    <p class="content">HTML colors are specified with predefined color names, or with RGB, HEX, HSL, RGBA, or HSLA values.</p>	
	</div>		
    <!--------------------- ----------------------->
	<div>      
    <a class="head">Color Names</a>	
    <p class="content">In HTML, a color can be specified by using a color name:</p>	  
	</div>		
    <pre class="bordercode">
      <h1 style="background-color:Tomato;">Tomato</h1>
      <h1 style="background-color:Orange;">Orange</h1>
      <h1 style="background-color:DodgerBlue;">DodgerBlue</h1>
      <h1 style="background-color:MediumSeaGreen;">MediumSeaGreen</h1>
      <h1 style="background-color:Gray;">Gray</h1>
      <h1 style="background-color:SlateBlue;">SlateBlue</h1>
      <h1 style="background-color:Violet;">Violet</h1>
      <h1 style="background-color:LightGray;">LightGray</h1>
    </pre>
    <!--------------------- ----------------------->   
    <div>
    <a class="head">Text Color</a>
	<p class="content">You can set the color of text</p>
	</div>		
    <a class="head2">code : </a>
    <pre class="bordercode">
    <code>
      &lt;h3 style="color:Tomato;"&gt;“Wonder is the beginning of wisdom.”&lt;/h3&gt;
      &lt;p style="color:DodgerBlue;"&gt;“Whatever you are, be a good one.”.&lt;/p&gt;
      &lt;p style="color:MediumSeaGreen;"&gt;“The only true wisdom is in knowing you know nothing.”&lt;/p&gt;
	</code>
	</pre> 
		
	<a class="head2">output : </a>		
    <pre class="bordercode">
      <h3 class ="break" style="color:Tomato;">“Wonder is the beginning of wisdom.”</h3>
      <p class ="break" style="color:DodgerBlue;">“Whatever you are, be a good one.”</p>
      <p class ="break" style="color:MediumSeaGreen;">“The only true wisdom is in knowing you know nothing.”</p>
    </pre>     
    <!--------------------- ----------------------->   
   <div>
    <a class="head">Background Color</a>
	<p class="content">You can set the background color for HTML elements</p>
	</div>	   
    <a class="head2">code : </a>
    <pre class="bordercode">
    <code>
&lt;h1 style="background-color:DodgerBlue;"&gt;"Step out of my sunlight.""&lt;/h1&gt;
&lt;p style="background-color:Tomato;"&gt;“People who know little are usually great talkers”
&lt;/p&gt;
	</code>
	</pre> 
		
	<a class="head2">output : </a>		
    <pre class="bordercode">
		<h1 style="background-color:DodgerBlue;">"Step out of my sunlight.""</h1>
	 	<p style="background-color:Tomato;">“People who know little are usually great talkers, while men who know much say little.”
</p>
    </pre>     
    <!--------------------- ----------------------->   		
   	<div>
    <a class="head">Border Color</a>
	<p class="content">You can set the color of borders</p>
	</div>	   
    <a class="head2">code : </a>
    <pre class="bordercode">
    <code>
		&lt;h1 style="border:2px solid Tomato;"&gt;Hello World&lt;/h1&gt;
		&lt;h1 style="border:2px solid DodgerBlue;"&gt;Hello World&lt;/h1&gt;
		&lt;h1 style="border:2px solid Violet;"&gt;Hello World&lt;/h1&gt;
	</code>
	</pre> 
		
	<a class="head2">output : </a>		
    <pre class="bordercode">
		<h1 style="border:2px solid Tomato;">Hello World</h1>
		<h1 style="border:2px solid DodgerBlue;">Hello World</h1>
		<h1 style="border:2px solid Violet;">Hello World</h1>
    </pre>     
    <!--------------------- ----------------------->   	      
      
  </section>
  
<!-- Footer -->	
  <footer>
    <p>Email : s39225@bj.ac.th </p>
    <p>BENCHAMARACHUTHIT CHANTHABURI SCHOOL</p>
  </footer>
  
	
</body>
</html>
