<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="img/icon.gif">

<title>My Website</title>
  
<!-- Google font -->	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet"> 
  
<!-- Import css -->	
<link rel="stylesheet" href="css/style.css">
  
<!--Font icon-->	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  
<script src="https://kit.fontawesome.com/89e9a98e7e.js" crossorigin="anonymous"></script>
  
</head>

<body id="bg1">

<!-- Navigation bar -->	
  <nav style="background-color: cadetblue; width: 100%">
    <ul>
      <li><a href="index.html"><i class="fa-solid fa-igloo"></i>Home</a></li>
	    <li><a href="text.html"><i class="fa-solid fa-font"></i>Text</a></li>
      <li><a href="color.html"><i class="fa-solid fa-palette"></i>Color</a></li>
      <li><a href="list.html"><i class="fa-solid fa-list"></i>List</a></li>
      <li><a href="image.html"><i class="fa-solid fa-images"></i>Image</a></li>
      <li><a href="link.html"><i class="fa-solid fa-link"></i>Link</a></li>
      <li><a href="table.html"><i class="fa-solid fa-table-list"></i>Table</a></li>
      <li><a href="css.html"><i class="fa-brands fa-css3"></i>CSS</a></li>
      <li><a class = "active" href="div.html"><i class="fa-solid fa-table"></i>Div</a></li>
      <li><a href="form.html"><i class="fa-solid fa-file-lines"></i>Form</a></li>
    </ul>
  </nav>
  
<!-- Header -->	
  <header id="header1">
    <h1>HTML Div</h1>
  </header>
  
<!-- Content -->	
  <section>
	<div>    	
    <a class="head">HTML Div</a>	
    <p class="content">A &lt;div&gt; section in a document that is styled with CSS</p>
	</div>		
	<a class="head2">code : </a>
    <pre class="bordercode">
    <code>
	&lt;head&gt;
	&lt;style&gt;
	.myDiv {
  	border: 5px outset red;
  	background-color: lightblue;
  	text-align: center;
	}
	&lt;/style&gt;
	&lt;/head&gt;
	
	&lt;body&gt;
	&lt;div class="myDiv"&gt;
  	&lt;h2&gt;This is a heading in a div element&lt;/h2&gt;
  	&lt;p&gt;This is some text in a div element.&lt;/p&gt;
	&lt;/div&gt;
	&lt;/body&gt;
	</code>
	</pre>		
		
	<a class="head2">output : </a>		
    <pre class="bordercode">
    <div class="myDiv">
  	<h2>This is a heading in a div element</h2>
  	<p>This is some text in a div element.</p>
	</div>
	</pre>
    <!--------------------- -----------------------> 			
		
  </section>
  
<!-- Footer -->	
  <footer>
    <p>Email : s39225@bj.ac.th </p>
    <p>BENCHAMARACHUTHIT CHANTHABURI SCHOOL</p>
  </footer>
  
	
</body>
</html>
