<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/x-icon" href="img/icon.gif">
<title>My Website</title>
  
<!-- Google font -->	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet"> 
  
<!-- Import css -->	
<link rel="stylesheet" href="css/style.css">
  
<!--Font icon-->	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap" rel="stylesheet">
  
<script src="https://kit.fontawesome.com/89e9a98e7e.js" crossorigin="anonymous"></script>
  
</head>

<body id="bg1">

<!-- Navigation bar -->	
  <nav>
    <ul>
      <li><a class = "active" href="index.html"><i class="fa-solid fa-igloo"></i>Home</a></li>
	    <li><a href="text.html"><i class="fa-solid fa-font"></i>Text</a></li>
      <li><a href="color.html"><i class="fa-solid fa-palette"></i>Color</a></li>
      <li><a href="list.html"><i class="fa-solid fa-list"></i>List</a></li>
      <li><a href="image.html"><i class="fa-solid fa-images"></i>Image</a></li>
      <li><a href="link.html"><i class="fa-solid fa-link"></i>Link</a></li>
      <li><a href="table.html"><i class="fa-solid fa-table-list"></i>Table</a></li>
      <li><a href="css.html"><i class="fa-brands fa-css3"></i>CSS</a></li>
      <li><a href="div.html"><i class="fa-solid fa-table"></i>Div</a></li>
      <li><a href="form.html"><i class="fa-solid fa-file-lines"></i>Form</a></li>
    </ul>
  </nav>
  
<!-- Header -->	
  <header id="header1">
    <h1> Welcome to my website </h1>
  </header>
  
<!-- Content -->	
  <section>
    <br>

    <div>
    <a class="head">What is HTML<i class="fa-brands fa-html5"> ?</i></a>
    <ul class="content">
      <li>HTML stands for Hyper Text Markup Language</li>
      <li>HTML is the standard markup language for creating Web pages</li>
      <li>HTML describes the structure of a Web page</li>
      <li>HTML consists of a series of elements</li>
      <li>HTML elements tell the browser how to display the content</li>
      <li>HTML elements label pieces of content such as "this is a heading", "this is a paragraph", "this is a link", etc.</li>
    </ul>
	</div>		
	  
	<div id="profile">
		
	<a class="head2">About Creator</a>
	<p class="content">Name: Nathakorn Paradeerujira</p>
	
	<img src="img/sexyminion.jpg">
			
	</div>		
			
		
		
		
	
    
  </section>
  
<!-- Footer -->	
  <footer>
    <p>Email : s39225@bj.ac.th </p>
    <p>BENCHAMARACHUTHIT CHANTHABURI SCHOOL</p>
  </footer>
  
	
</body>
</html>
