<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="img/icon.gif">	
  
<title>My Website</title>
  
<!-- Google font -->	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet"> 
  
<!-- Import css -->	
<link rel="stylesheet" href="css/style.css">
  
<!--Font icon-->	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  
<script src="https://kit.fontawesome.com/89e9a98e7e.js" crossorigin="anonymous"></script>
  
</head>

<body id="bg1">

<!-- Navigation bar -->	
  <nav>
    <ul>
      <li><a href="index.html"><i class="fa-solid fa-igloo"></i>Home</a></li>
	  <li><a href="text.html"><i class="fa-solid fa-font"></i>Text</a></li>
      <li><a href="color.html"><i class="fa-solid fa-palette"></i>Color</a></li>
      <li><a class = "active" href="list.html"><i class="fa-solid fa-list"></i>List</a></li>
      <li><a href="image.html"><i class="fa-solid fa-images"></i>Image</a></li>
      <li><a href="link.html"><i class="fa-solid fa-link"></i>Link</a></li>
      <li><a href="table.html"><i class="fa-solid fa-table-list"></i>Table</a></li>
      <li><a href="css.html"><i class="fa-brands fa-css3"></i>CSS</a></li>
      <li><a href="div.html"><i class="fa-solid fa-table"></i>Div</a></li>
      <li><a href="form.html"><i class="fa-solid fa-file-lines"></i>Form</a></li>
    </ul>
  </nav>
  
<!-- Header -->	
  <header id="header1">
    <h1>HTML Lists</h1>
  </header>
  
<!-- Content -->	
  <section>
    
    <div>
    <a class="head">HTML Lists</a>	
    <p class="content">HTML lists allow web developers to group a set of related items in lists.</p>	
	</div>		
    <!--------------------- ----------------------->
	<div>      
    <a class="head">Unordered HTML List</a>	
    <p class="content">An unordered list starts with the &lt;ul&gt; tag. Each list item starts with the &lt;li&gt; tag.<br>The list items will be marked with bullets (small black circles) by default</p>
	</div>		
	  
	<a class="head2">code : </a>
    <pre class="bordercode">
    <code>
     &lt;ul&gt;
	 &lt;li&gt;Coffee&lt;/li&gt;
	 &lt;li&gt;Tea&lt;/li&gt;
	 &lt;li&gt;Milk&lt;/li&gt;
     &lt;/ul&gt;
	</code>
	</pre> 
		
	<a class="head2">output : </a>		
    <pre class="bordercode">
      <ul><li>Coffee</li><li>Tea</li><li>Milk</li></ul>
	</pre>
    <!--------------------- ----------------------->   
    <div>
    <a class="head">Ordered HTML List</a>	
    <p class="content">An ordered list starts with the &lt;ol&gt; tag. Each list item starts with the &lt;li&gt; tag.<br>The list items will be marked with numbers by default</p>
	</div>
	  
	<a class="head2">code : </a>
    <pre class="bordercode">
    <code>
     &lt;ol&gt;
	 &lt;li&gt;Coffee&lt;/li&gt;
	 &lt;li&gt;Tea&lt;/li&gt;
	 &lt;li&gt;Milk&lt;/li&gt;
     &lt;/ol&gt;
	</code>
	</pre> 
		
	<a class="head2">output : </a>		
    <pre class="bordercode">
      <ol><li>Coffee</li><li>Tea</li><li>Milk</li></ol>
	</pre>
    <!--------------------- -----------------------> 
	<div>		
    <a class="head">HTML Description Lists</a>	
    <p class="content">A description list is a list of terms, with a description of each term.&lt;br&gt;The &lt;dl&gt; tag defines the description list, the &lt;dt&gt; tag defines the term (name), and the&lt;dd&gt; tag describes each term</p>
	</div>		
	  
	<a class="head2">code : </a>
    <pre class="bordercode">
    <code>
	&lt;dl&gt;
  	&lt;dt&gt;Coffee&lt;/dt&gt;
  	&lt;dd&gt;- black hot drink&lt;/dd&gt;
  	&lt;dt&gt;Milk&lt;/dt&gt;
  	&lt;dd&gt;- white cold drink&lt;/dd&gt;
	&lt;/dl&gt;
	</code>
	</pre> 
		
	<a class="head2">output : </a>		
    <pre class="bordercode">
      <dl><dt>Coffee</dt><dd>- black hot drink</dd><dt>Milk</dt><dd>- white cold drink</dd></dl>
	</pre>
    <!--------------------- -----------------------> 		
      
  </section>
  
<!-- Footer -->	
  <footer>
    <p>Email : s39225@bj.ac.th </p>
    <p>BENCHAMARACHUTHIT CHANTHABURI SCHOOL</p>
  </footer>
  
	
</body>
</html>
