<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="icon" type="image/x-icon" href="img/icon.gif">	
  
<title>My Website</title>
  
<!-- Google font -->	
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet"> 
  
<!-- Import css -->	
<link rel="stylesheet" href="css/style.css">
  
<!--Font icon-->	
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  
<script src="https://kit.fontawesome.com/89e9a98e7e.js" crossorigin="anonymous"></script>
  
</head>

<body id="bg1">


<!-- Navigation bar -->	
  <nav style="background-color: cadetblue; width: 100%">
    <ul>
      <li><a href="index.html"><i class="fa-solid fa-igloo"></i>Home</a></li>
	    <li><a href="text.html"><i class="fa-solid fa-font"></i>Text</a></li>
      <li><a href="color.html"><i class="fa-solid fa-palette"></i>Color</a></li>
      <li><a href="list.html"><i class="fa-solid fa-list"></i>List</a></li>
      <li><a href="image.html"><i class="fa-solid fa-images"></i>Image</a></li>
      <li><a href="link.html"><i class="fa-solid fa-link"></i>Link</a></li>
      <li><a class = "active" href="table.html"><i class="fa-solid fa-table-list"></i>Table</a></li>
      <li><a href="css.html"><i class="fa-brands fa-css3"></i>CSS</a></li>
      <li><a href="div.html"><i class="fa-solid fa-table"></i>Div</a></li>
      <li><a href="form.html"><i class="fa-solid fa-file-lines"></i>Form</a></li>
    </ul>
  </nav>
  
<!-- Header -->	
  <header id="header1">
    <h1>HTML Table</h1>
  </header>
  
<!-- Content -->	
  <section>
    <div>
    <h1 class="centertext">ตารางเรียน ชั้น ม. 5/6 ห้องเรียนประจํา 1137 ภาคเรียนที่ 1/2565 โรงเรียนเบญจมราชูทิศจังหวัดจันทบุรี</h1>
    <table>
        <tbody>
          <tr>
            <th>คาบที่</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>     
            <th>9</th>  
          </tr>
          <tr>
            <th>เวลา</th>
            <th>08.30 - 09.20</th>
            <th>09.20 - 10.10</th>
            <th>10.15 - 11.05</th>
            <th>11.05 - 11.55</th>
            <th>11.55 - 12.45</th>
            <th>12.45 - 13.35</th>
            <th>13.35 - 14.25</th>
            <th>14.30 - 15.20</th>     
            <th>15.20 - 16.10</th>  
          </tr>  
          <tr>
            <th>วันจันทร์</th>
              <td colspan="2">ว30222<br>ฐิรนันท์<br>333</td>
              <!--<td>ว30222<br>ฐิรนันท์<br>333</td>-->
              <td>ท32101<br>กุลธิดา<br>1137</td>
              <td></td>
              <td>ค30203<br>พรทิพย์<br>1137</td>
              <td>อ32101<br>เยาวลักษณ์<br>1137</td>
              <td colspan="2">ว30242<br>อิสริยา<br>915</td>
              <!--<td>ว30242<br>อิสริยา<br>915</td>-->
              <td>แนะแนว<br>วันทนา<br>1137</td>  
          </tr>    
          <tr>
            <th>วันอังคาร</th>
              <td colspan="2">ว30268<br>พิทยา<br>515</td>
              <!--<td>ว30268<br>พิทยา<br>515</td>-->
              <td>ค32101<br>เอื้อมพร<br>1137</td>
              <td></td>
              <td colspan="2">ว32103<br>ธนเดช<br>522</td>
              <!--<td>ว32103<br>ธนเดช<br>522</td>-->
              <td>ค30203<br>พรทิพย์<br>1137</td>
              <td>อ32101<br>เยาวลักษณ์<br>1137</td>     
              <td>ท32101<br>กุลธิดา<br>1137</td>  
          </tr>
          <tr>
            <th>วันพุธ</th>
              <td colspan="2">ว30202<br>วารินทร์<br>337</td>
              <!--<td>ว30202<br>วารินทร์<br>337</td>-->
              <td>อ32101<br>เยาวลักษณ์<br>1137</td>
              <td>พ32101<br>โสภา<br>ยิม1</td>
              <td></td>
              <td>ว30222<br>ฐิรนันท์<br>333</td>
              <td>ค30203<br>พรทิพย์<br>1137</td>
              <td>ศ32101<br>รุ่งรัตน์<br>ดนตรี</td>     
              <td>ส32105<br>สุจิตรา<br>1137</td>  
          </tr>
          <tr>
            <th>วันพฤหัสฯ</th>
              <td>ส32101<br>ศิราณี<br>1137</td>
              <td>ค30203<br>พรทิพย์<br>1137</td>
              <td colspan="2">ว30267<br>สุนทร<br>523</td>
              <!--<td>ว30267<br>สุนทร<br>523</td>-->
              <td></td>
              <td>ว30242<br>อิสริยา<br>915</td>
              <td>ค32101<br>เอื้อมพร<br>1137</td>
              <td>กิจกรรม</td>     
              <td>กิจกรรม<br>รักษา<br>ดินแดน</td>  
          </tr>
          <tr>
            <th>วันศุกร์</th>
              <td colspan="2">ว30202<br>วารินทร์<br>337</td>
              <!--<td>ว30202<br>วารินทร์<br>337</td>-->
              <td>ง32101<br>412<br>414</td>
              <td>ค32101<br>เอื้อมพร<br>1137</td>
              <td></td>
              <td>ว30267<br>สุนทร<br>523</td>
              <td>ส32101<br>ศิราณี<br>1137</td>
              <td>จ30203<br>อรทัย<br>1137</td>     
              <td>อ30235<br>Charlyn<br>1137</td>  
        </tr>            
      </tbody>
    </table>
    <h1 class="centertext">นางศิราณี กุลฉวะ นายพิทยา ปฏิโค</h1>
    </div>
	  
	<a class="head2">Code : </a>
    <pre class="bordercode">
    <code>

      &lt;table&gt;
        &lt;tbody&gt;
          &lt;tr&gt;
            &lt;th&gt;คาบที่&lt;/th&gt;
            &lt;th&gt;1&lt;/th&gt;
            &lt;th&gt;2&lt;/th&gt;
            &lt;th&gt;3&lt;/th&gt;
            &lt;th&gt;4&lt;/th&gt;
            &lt;th&gt;5&lt;/th&gt;
            &lt;th&gt;6&lt;/th&gt;
            &lt;th&gt;7&lt;/th&gt;
            &lt;th&gt;8&lt;/th&gt;     
            &lt;th&gt;9&lt;/th&gt;  
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;th&gt;เวลา&lt;/th&gt;
            &lt;th&gt;08.30 - 09.20&lt;/th&gt;
            &lt;th&gt;09.20 - 10.10&lt;/th&gt;
            &lt;th&gt;10.15 - 11.05&lt;/th&gt;
            &lt;th&gt;11.05 - 11.55&lt;/th&gt;
            &lt;th&gt;11.55 - 12.45&lt;/th&gt;
            &lt;th&gt;12.45 - 13.35&lt;/th&gt;
            &lt;th&gt;13.35 - 14.25&lt;/th&gt;
            &lt;th&gt;14.30 - 15.20&lt;/th&gt;     
            &lt;th&gt;15.20 - 16.10&lt;/th&gt;  
          &lt;/tr&gt;  
          &lt;tr&gt;
            &lt;th&gt;วันจันทร์&lt;/th&gt;
              &lt;td colspan="2"&gt;ว30222&lt;br&gt;ฐิรนันท์&lt;br&gt;333&lt;/td&gt;
              &lt;td&gt;ท32101&lt;br&gt;กุลธิดา&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
              &lt;td&gt;ค30203&lt;br&gt;พรทิพย์&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;อ32101&lt;br&gt;เยาวลักษณ์&lt;br&gt;1137&lt;/td&gt;
              &lt;td colspan="2"&gt;ว30242&lt;br&gt;อิสริยา&lt;br&gt;915&lt;/td&gt;
              &lt;td&gt;แนะแนว&lt;br&gt;วันทนา&lt;br&gt;1137&lt;/td&gt;  
          &lt;/tr&gt;    
          &lt;tr&gt;
            &lt;th&gt;วันอังคาร&lt;/th&gt;
              &lt;td colspan="2"&gt;ว30268&lt;br&gt;พิทยา&lt;br&gt;515&lt;/td&gt;
              &lt;td&gt;ค32101&lt;br&gt;เอื้อมพร&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
              &lt;td colspan="2"&gt;ว32103&lt;br&gt;ธนเดช&lt;br&gt;522&lt;/td&gt;
              &lt;td&gt;ค30203&lt;br&gt;พรทิพย์&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;อ32101&lt;br&gt;เยาวลักษณ์&lt;br&gt;1137&lt;/td&gt;     
              &lt;td&gt;ท32101&lt;br&gt;กุลธิดา&lt;br&gt;1137&lt;/td&gt;  
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;th&gt;วันพุธ&lt;/th&gt;
              &lt;td colspan="2"&gt;ว30202&lt;br&gt;วารินทร์&lt;br&gt;337&lt;/td&gt;
              &lt;td&gt;อ32101&lt;br&gt;เยาวลักษณ์&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;พ32101&lt;br&gt;โสภา&lt;br&gt;ยิม1&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
              &lt;td&gt;ว30222&lt;br&gt;ฐิรนันท์&lt;br&gt;333&lt;/td&gt;
              &lt;td&gt;ค30203&lt;br&gt;พรทิพย์&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;ศ32101&lt;br&gt;รุ่งรัตน์&lt;br&gt;ดนตรี&lt;/td&gt;     
              &lt;td&gt;ส32105&lt;br&gt;สุจิตรา&lt;br&gt;1137&lt;/td&gt;  
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;th&gt;วันพฤหัสฯ&lt;/th&gt;
              &lt;td&gt;ส32101&lt;br&gt;ศิราณี&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;ค30203&lt;br&gt;พรทิพย์&lt;br&gt;1137&lt;/td&gt;
              &lt;td colspan="2"&gt;ว30267&lt;br&gt;สุนทร&lt;br&gt;523&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
              &lt;td&gt;ว30242&lt;br&gt;อิสริยา&lt;br&gt;915&lt;/td&gt;
              &lt;td&gt;ค32101&lt;br&gt;เอื้อมพร&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;กิจกรรม&lt;/td&gt;     
              &lt;td&gt;กิจกรรม&lt;br&gt;รักษา&lt;br&gt;ดินแดน&lt;/td&gt;  
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;th&gt;วันศุกร์&lt;/th&gt;
              &lt;td colspan="2"&gt;ว30202&lt;br&gt;วารินทร์&lt;br&gt;337&lt;/td&gt;
              &lt;td&gt;ง32101&lt;br&gt;412&lt;br&gt;414&lt;/td&gt;
              &lt;td&gt;ค32101&lt;br&gt;เอื้อมพร&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;&lt;/td&gt;
              &lt;td&gt;ว30267&lt;br&gt;สุนทร&lt;br&gt;523&lt;/td&gt;
              &lt;td&gt;ส32101&lt;br&gt;ศิราณี&lt;br&gt;1137&lt;/td&gt;
              &lt;td&gt;จ30203&lt;br&gt;อรทัย&lt;br&gt;1137&lt;/td&gt;     
              &lt;td&gt;อ30235&lt;br&gt;Charlyn&lt;br&gt;1137&lt;/td&gt;  
        &lt;/tr&gt;            
      &lt;/tbody&gt;
    &lt;/table&gt;
      </code>
    </pre>
  </section>
  
<!-- Footer -->	
  <footer>
    <p>Email : s39225@bj.ac.th </p>
    <p>BENCHAMARACHUTHIT CHANTHABURI SCHOOL</p>
  </footer>
	
</body>
</html>
